<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tureng2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="QuickLearnTR"
        android:roundIcon="@drawable/applogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.base"
             />
        <uses-library android:name="android.test.mock"
             />
        <uses-library android:name="android.test.runner"
            />
        <activity android:name=".Sub_Core.FillParagraphGapsExerciseA2"></activity>
        <activity android:name=".Sub_Core.FillGapsExerciseA2" />
        <activity android:name=".Sub_Core.MultipleChoiceExerciseA2" />
        <activity android:name=".Sub_Core.MultipleChoiceExerciseA1" />
        <activity android:name=".Sub_Core.BodyPartsExerciseA1" />
        <activity android:name=".Sub_Core.BodyPartsExampleA1" />
        <activity android:name=".Core.GrammarB1" />
        <activity android:name=".Core.GrammarA2" />
        <activity android:name=".Core.GrammarA1" />
        <activity android:name=".Sub_Core.ListeningExampleA1" />
        <activity android:name=".Sub_Core.AlphabetExamples" />
        <activity android:name=".Sub_Core.AlphabetA1" />
        <activity android:name=".Core.PractiseB1" />
        <activity android:name=".Core.PractiseA2" />
        <activity android:name=".Core.PractiseA1" />
        <activity android:name=".Sub_Core.DailyTalks" />
        <activity android:name=".Core.SpeechA2" />
        <activity android:name=".Core.SpeechA1" />
        <activity android:name=".Authentication.PasswordReset" />
        <activity
            android:name=".Core.HomeScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.UserScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.Practise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.Speech"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.Grammar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Authentication.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>